<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button0.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1511},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1209},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1209},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,907},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Button4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,605},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Button5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,303},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Dock.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{1536,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,200}}</string>
                <key>sourceSize</key>
                <string>{1536,200}</string>
            </dict>
            <key>Logo_chs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{389,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,299}}</string>
                <key>sourceSize</key>
                <string>{389,299}</string>
            </dict>
            <key>Logo_eng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{731,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{731,299}}</string>
                <key>sourceSize</key>
                <string>{731,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf1b3d9fb01dabbdd4654ba7e178765:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
